proyecto_cliente_wb/web/WEB-INF/wsdl/localhost_8080/proyecto_soap/servidor.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://pkg_servicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pkg_servicio/">

<xs:element name="buscarCuenta" type="tns:buscarCuenta"/>

<xs:element name="buscarCuentaBanc" type="tns:buscarCuentaBanc"/>

<xs:element name="buscarCuentaBancResponse" type="tns:buscarCuentaBancResponse"/>

<xs:element name="buscarCuentaResponse" type="tns:buscarCuentaResponse"/>

<xs:element name="buscarTipoCuenta" type="tns:buscarTipoCuenta"/>

<xs:element name="buscarTipoCuenta2" type="tns:buscarTipoCuenta2"/>

<xs:element name="buscarTipoCuenta2Response" type="tns:buscarTipoCuenta2Response"/>

<xs:element name="buscarTipoCuentaResponse" type="tns:buscarTipoCuentaResponse"/>

<xs:element name="buscarTipoTransac" type="tns:buscarTipoTransac"/>

<xs:element name="buscarTipoTransacResponse" type="tns:buscarTipoTransacResponse"/>

<xs:element name="buscarTodoCuenta" type="tns:buscarTodoCuenta"/>

<xs:element name="buscarTodoCuentaResponse" type="tns:buscarTodoCuentaResponse"/>

<xs:element name="buscarTransaccion" type="tns:buscarTransaccion"/>

<xs:element name="buscarTransaccionResponse" type="tns:buscarTransaccionResponse"/>

<xs:element name="eliminarCuenta" type="tns:eliminarCuenta"/>

<xs:element name="eliminarCuentaBanc" type="tns:eliminarCuentaBanc"/>

<xs:element name="eliminarCuentaBancResponse" type="tns:eliminarCuentaBancResponse"/>

<xs:element name="eliminarCuentaResponse" type="tns:eliminarCuentaResponse"/>

<xs:element name="eliminarDetalleTransaccion" type="tns:eliminarDetalleTransaccion"/>

<xs:element name="eliminarDetalleTransaccionResponse" type="tns:eliminarDetalleTransaccionResponse"/>

<xs:element name="eliminarTipoCuenta" type="tns:eliminarTipoCuenta"/>

<xs:element name="eliminarTipoCuentaResponse" type="tns:eliminarTipoCuentaResponse"/>

<xs:element name="eliminarTipoTransac" type="tns:eliminarTipoTransac"/>

<xs:element name="eliminarTipoTransacResponse" type="tns:eliminarTipoTransacResponse"/>

<xs:element name="eliminarTransaccion" type="tns:eliminarTransaccion"/>

<xs:element name="eliminarTransaccionResponse" type="tns:eliminarTransaccionResponse"/>

<xs:element name="insertarCuenta" type="tns:insertarCuenta"/>

<xs:element name="insertarCuentaBanc" type="tns:insertarCuentaBanc"/>

<xs:element name="insertarCuentaBancResponse" type="tns:insertarCuentaBancResponse"/>

<xs:element name="insertarCuentaResponse" type="tns:insertarCuentaResponse"/>

<xs:element name="insertarDetalleTransaccion" type="tns:insertarDetalleTransaccion"/>

<xs:element name="insertarDetalleTransaccionResponse" type="tns:insertarDetalleTransaccionResponse"/>

<xs:element name="insertarTipoCuenta" type="tns:insertarTipoCuenta"/>

<xs:element name="insertarTipoCuentaResponse" type="tns:insertarTipoCuentaResponse"/>

<xs:element name="insertarTipoTransac" type="tns:insertarTipoTransac"/>

<xs:element name="insertarTipoTransacResponse" type="tns:insertarTipoTransacResponse"/>

<xs:element name="insertarTransaccion" type="tns:insertarTransaccion"/>

<xs:element name="insertarTransaccionResponse" type="tns:insertarTransaccionResponse"/>

<xs:element name="modificarCuenta" type="tns:modificarCuenta"/>

<xs:element name="modificarCuentaBanc" type="tns:modificarCuentaBanc"/>

<xs:element name="modificarCuentaBancResponse" type="tns:modificarCuentaBancResponse"/>

<xs:element name="modificarCuentaResponse" type="tns:modificarCuentaResponse"/>

<xs:element name="modificarDetalleTransaccion" type="tns:modificarDetalleTransaccion"/>

<xs:element name="modificarDetalleTransaccionResponse" type="tns:modificarDetalleTransaccionResponse"/>

<xs:element name="modificarTipoCuenta" type="tns:modificarTipoCuenta"/>

<xs:element name="modificarTipoCuentaResponse" type="tns:modificarTipoCuentaResponse"/>

<xs:element name="modificarTipoTransac" type="tns:modificarTipoTransac"/>

<xs:element name="modificarTipoTransacResponse" type="tns:modificarTipoTransacResponse"/>

<xs:element name="modificarTransaccion" type="tns:modificarTransaccion"/>

<xs:element name="modificarTransaccionResponse" type="tns:modificarTransaccionResponse"/>

<xs:element name="validarUsuario" type="tns:validarUsuario"/>

<xs:element name="validarUsuarioResponse" type="tns:validarUsuarioResponse"/>

<xs:complexType name="buscarTipoCuenta">
<xs:sequence>
<xs:element name="par1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarTipoCuentaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarTransaccion">
<xs:sequence>
<xs:element name="cuentaBancaria" type="xs:string" minOccurs="0"/>
<xs:element name="desc" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarTransaccionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarCuentaBanc">
<xs:sequence>
<xs:element name="as_codigo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarCuentaBancResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarTipoCuenta2">
<xs:sequence>
<xs:element name="par1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarTipoCuenta2Response">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarCuenta">
<xs:sequence>
<xs:element name="as_codigo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarCuentaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarTransaccion">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarTransaccionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarUsuario">
<xs:sequence>
<xs:element name="as_id" type="xs:string" minOccurs="0"/>
<xs:element name="as_pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarDetalleTransaccion">
<xs:sequence>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="tipoTransac" type="xs:string" minOccurs="0"/>
<xs:element name="val" type="xs:string" minOccurs="0"/>
<xs:element name="cabTransac" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarDetalleTransaccionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarDetalleTransaccion">
<xs:sequence>
<xs:element name="codigoDetalle" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarDetalleTransaccionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarTipoCuenta">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="par1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarTipoCuentaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarTipoCuenta">
<xs:sequence>
<xs:element name="par1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarTipoCuentaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarCuenta">
<xs:sequence>
<xs:element name="par1" type="xs:string" minOccurs="0"/>
<xs:element name="par2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarCuentaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarTipoTransac">
<xs:sequence>
<xs:element name="as_codigo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarTipoTransacResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarTipoCuenta">
<xs:sequence>
<xs:element name="as_codigo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarTipoCuentaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarCuentaBanc">
<xs:sequence>
<xs:element name="par1" type="xs:string" minOccurs="0"/>
<xs:element name="par2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarCuentaBancResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarDetalleTransaccion">
<xs:sequence>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="tipoTransac" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
<xs:element name="codigoDetalle" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarDetalleTransaccionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarTipoTransac">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="par1" type="xs:string" minOccurs="0"/>
<xs:element name="par2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarTipoTransacResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarCuentaBanc">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="par1" type="xs:string" minOccurs="0"/>
<xs:element name="par2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarCuentaBancResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarCuenta">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="par1" type="xs:string" minOccurs="0"/>
<xs:element name="par2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarCuentaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarCuenta">
<xs:sequence>
<xs:element name="par1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarCuentaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarTodoCuenta">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="buscarTodoCuentaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarTransaccion">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarTransaccionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarTipoTransac">
<xs:sequence>
<xs:element name="par1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarTipoTransacResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarCuentaBanc">
<xs:sequence>
<xs:element name="par1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarCuentaBancResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarTipoTransac">
<xs:sequence>
<xs:element name="par1" type="xs:string" minOccurs="0"/>
<xs:element name="par2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarTipoTransacResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarTransaccion">
<xs:sequence>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="cuentaBancaria" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarTransaccionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>